@import 'colors';
* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}

html {
	font-size: 62.5%;
}
body {
	font-family: 'Lexend Deca', sans-serif;
	color: $transparent-white;
	font-size: 1.5rem;
}
.main {
	display: grid;
	grid-template-columns: minmax(280px, 340px);
	grid-template-rows: repeat(3, 450px);
	place-content: center;
	padding: 3em 1em;
	overflow: hidden;
}
.card {
	padding: 3.3em;
}
.card__sedans {
	grid-column: 1/1;
	grid-row: 1/2;
	background-color: $bright-orange;
	border-radius: 10px 10px 0 0;
	&-btn {
		color: $bright-orange;
		&:hover {
			color: $very-light-gray;
			background-color: $bright-orange;
		}
	}
}
.card__suvs {
	grid-column: 1/1;
	grid-row: 2/3;
	background-color: $dark-cyan;
	&-btn {
		color: $dark-cyan;
		&:hover {
			color: $very-light-gray;
			background-color: $dark-cyan;
		}
	}
}
.card__luxury {
	grid-column: 1/1;
	grid-row: 3/4;
	background-color: $very-dark-cyan;
	border-radius: 0 0 10px 10px;
	&-btn {
		color: $very-dark-cyan;
		&:hover {
			color: $very-light-gray;
			background-color: $very-dark-cyan;
		}
	}
}
.headings {
	text-transform: uppercase;
	font-family: 'Big Shoulders Display', cursive;
	font-weight: 700;
	font-size: 4rem;
	color: $very-light-gray;
	padding: 0.5em 0;
}
.paragraphs {
	line-height: 1.5;
	padding-bottom: 4em;
}
.anchors {
	text-decoration: none;
	padding: 12px 34px;
	border: 2px solid $very-light-gray;
	background-color: $very-light-gray;
	border-radius: 25px;
	transition: color 0.3s, background-color 0.3s;
}

@media (min-width: 1100px) {
	body {
		font-size: 1.6rem;
	}
	.main {
		height: 100vh;
		grid-template-columns: repeat(3, 340px);
		grid-template-rows: 450px;
	}
	.card__sedans {
		grid-area: 1/1/1/2;
		border-radius: 10px 0 0 10px;
	}
	.card__suvs {
		grid-area: 1/2/1/3;
	}
	.card__luxury {
		grid-area: 1/3/1/4;
		border-radius: 0 10px 10px 0;
	}
}
